@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');
body{
    background: #222435;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-weight: 900;
    color: #7d83b9;
    text-align: center;
}